*{
  scroll-behavior: smooth;
}
.hero-background {
  background: linear-gradient(
      to bottom,
      #171717 100px,
      transparent 100px,
      transparent calc(80vh - 40px),
      #171717 calc(80vh - 40px)
    ),
    linear-gradient(
      to right,
      #171717 24px,
      transparent 24px,
      transparent calc(100% - 24px),
      #171717 calc(100% - 24px)
    );
}
.window-mask {
  -webkit-mask-image: linear-gradient(black, black), url(/window.svg);
  mask-image: linear-gradient(black, black), url(/window.svg);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto, 300px auto;
  mask-size: auto, 300px auto;
  -webkit-mask-position: center center, center;
  mask-position: center center, center;
}
.window-mask2 {
  -webkit-mask-image: linear-gradient(black, black), url(/window2.svg);
  mask-image: linear-gradient(black, black), url(/window2.svg);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto, 300px auto;
  mask-size: auto, 300px auto;
  -webkit-mask-position: center center, center;
  mask-position: center center, center, center;
}
@media (max-width: 1024px) {
  .window-mask {
    -webkit-mask-size: auto, 250px auto;
    mask-size: auto, 250px auto;
  }
  .window-mask2 {
    -webkit-mask-size: auto, 250px auto;
  }
}

@media (max-width: 724px) {
  .window-mask {
    -webkit-mask-size: auto, 230px auto;
    mask-size: auto, 230px auto;
  }
  .window-mask2 {
    -webkit-mask-size: auto, 230px auto;
  }
}

